
body {
    background-color: rgb(33, 7, 57);
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    max-width: 520px;
    
}
#bodyforhome  {
    align-items: center;
    justify-content: center;
  
    color: rgb(79, 97, 79);
    font-size: 90px;
}
#bodyforhome > p {
    color: white;
    margin-top: 350px;
}
.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start {
    display: grid;
    color: rgb(10, 10, 11);
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 25px;
    border-radius: 12px;
   padding: 0px;
   margin: 20px;
   padding-top: 10px;
}

#bodyforsecondpage{
   display: grid;
   grid-template-rows: 270px 460px 100px;
   
   margin: 0px;
padding: 0px;
border: 0px;
}
#bodyforsecondpage>p{
font-family: "Open Sans", sans-serif;
 font-size: 50px;
 padding-top: 90px;
}
.topsort {
   display: flex;
  
    border-radius: 10px;
   width: auto;   
    padding: 0px;
    height: auto;
    margin-top: 20px;
 background-color: rgb(82, 63, 154);
      
}
.schedulebutton, .note{ 
   flex: 1 ;
    padding: 0px;
    margin: 0px;
 border: 0px;
color: white;
background: transparent;
transition: 0.4s;
cursor: pointer;
}
.note {   
    margin: 0px;
    border: 0px;   
}
.active{
    background-color: black;
    color: white;
    border-radius: 50%;
}

.monthyear{
    display: flex;
    font-size: 12px;
    gap: 10px;
    justify-content: center;
   
}
.calender {
    border: 5px solid rgb(219, 218, 232);
    padding: 20px;
}
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 18px;
    padding: 0px;
    gap: 0px;
}
.calender{
    display: grid;
}
.dates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 13px;
}
.dates>div {
padding: 10px;
}
.hidden {
    display: none;
    visibility: hidden;
}
@media(max-width: 300px){
.days{
    font-size: 13px;
}
}
.schedulebutton{
    background-color: rgb(39, 39, 39);
    border-radius: 4px;
}
.schedulepage {

    border-width: 3px;

    margin-top: 25px;
}
.eventList {
        background-color: rgb(69, 18, 119);
}
.addEvent {
    background-color: rgb(140, 34, 202);
    border-radius: 50%;
       width: 30px;
       height: 30px;
        margin-top: 0px;
        align-items:center;
        justify-content: center;
        justify-self: right;
        font-size: 30px;
        text-align: center;
}
.scheduleContainer{
 position: relative;
}
.timeline{
    position: absolute;
    height: 100%;
    left: 50px;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: rgb(160, 78, 231);
    border-radius: 2px;
}
.event{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 18px;
    padding-left: 30px;
}




.circle {
    position: absolute;
    left: 4px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:  rgb(59, 34, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border:5px solid rgb(160, 78, 231);
}
.addEventPage{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 16, 84);
   display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
    padding: 15px;
    overflow-y: auto;
    z-index: 100;
    color: white;
 
margin: 0 auto;

}
.addEventHeader{
    display: grid;
    grid-template-columns: 15em 1em;
    

}
.addEventHeader>.backbutton{
    display: grid;
    align-items: self-start;
    justify-content: left;
}
.schedule{
    margin-bottom: 0px;
    padding:0px ;
    border: 0px;
    height: 30px;   
}
/*.eventDetails>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-left: 0px;

}
.eventDetails>label{
       display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-left: 0px;

}*/


.eventExtras {
    display: flex;
    flex-direction: column;
    width: 100%;

}
#eventTitle,#place, #notes {
    background-color: #CCC2FE;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    border: 0px;
    width: calc(100% - 20px);
    height: 32px;
    Top: 159px;
    Left: 24px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
    box-sizing: border-box; 

}

.eventCard{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #311f43;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: left;
    align-self: self-start;
    margin-top: 0px;
    padding-top: 0px;
    
}

.eventCard>h4{
    margin-bottom: 4px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.eventCard>p{
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #FFFFFF;
}

.line{
    width : 92%;
    margin-top: 0px;
    margin-bottom: 4px;
   background-color: rgb(0, 15, 128);
}
    
.addEventPage {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.addEventPage>h4, .addEventPage>label, .addEventPage>div{
    padding:  10px;
}
#place, #notes {
    margin-bottom: 17px;
}

#Fulldaytoggle {
    border-radius: 50%;
}